/* Base */

:root {
	--white: #FFFFFF;
	--font-white: #FFFFFF;
	--font-black: #000000;
	--font-brown: #ae8f72;
	--batton-brown: #ccb39c;
	--background: #e8f6f7;
	--button: #004e59;
	--logo: #7aa9ab;
}

/* Global */

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Quicksand', sans-serif;
}

/* Header */

.header {
	width: 100%;
	height: 350px;
	background: url(../img/7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-container {
	width: 100%;
	position: fixed;
	background: linear-gradient(#004e59, rgba(0,78,89,0.7));
}

.nav-wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 200px;
	height: 96px;
}

.header-nav {
}

.header-nav-item {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	list-style: none;
	margin: 0;
}

.header-nav-item a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	color: var(--white);
	padding: 0 10px;
}

.header-nav-item a:hover {
	color: var(--logo);
}

.telephone {
	color: var(--white);
	font-size: 24px;
	text-decoration: none;
}

.telephone:hover {
	color: var(--logo);
}

/* Main */

.title {
	max-width: 960px;
	padding: 0 15px;
	margin: 70px auto;
}

.title h1 {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	color: var(--button);
}

.title p {
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	color: var(--font-brown);
}

.gallery-wrapper {

}

.gallery {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-rows: repeat(3, 180px);
    grid-template-columns: repeat(3, 33.33%);
    overflow: hidden;
    margin-bottom: 5px;
}

.gallery-item img {
	display: block;
	width: 100%;
	min-width: 360px;
	height: auto;
	border: 5px solid var(--white);
}

.title-one-room {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	color: var(--button);
	margin: 40px auto;
	padding: 0 15px;
}

.room-wrapper {
	width: 100%;
	background-color: var(--background);
}

.room {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
}

.main-room {
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background);
}

.main-room p {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	color: var(--button);
}

.main-room ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	margin-bottom: 50px;
}

.main-room li {
	list-style: none;
	margin: 15px 5px;
}

.main-room a {
	padding: 8px 18px;
	background-color: var(--white);
	border: 1px solid var(--font-brown);
	border-radius: 7px;
	color: var(--font-brown);
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: none;
}

.main-room a:hover {
	background-color: var(--batton-brown);
	color: var(--white);
	border: 1px solid var(--batton-brown);
}

.main-room .active {
	background-color: var(--font-brown);
	color: var(--white);
}

.choice-scheme input {
	display: none;
}

.choice-scheme {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 50px;
	flex-grow: 2;
}

.option-wrap {
	width: 100%;
}

.scheme {
	margin: 30px 0;
	width: 100%;
	max-width: 600px;
	height: auto;
	max-height: 420px;
}

.option-1,
.option-2,
.option-3,
.option-4 {
	display: none;
}

.choice-1:checked ~ .option-wrap .option-1,
.choice-2:checked ~ .option-wrap .option-2,
.choice-3:checked ~ .option-wrap .option-3,
.choice-4:checked ~ .option-wrap .option-4 {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.choice-1:checked ~ .choice-button .k35,
.choice-2:checked ~ .choice-button .k40,
.choice-3:checked ~ .choice-button .k43,
.choice-4:checked ~ .choice-button .k56 {
	background-color: var(--font-brown);
	color: var(--white);
}

.choice-button label {
	padding: 8px 18px;
	margin: 5px 5px;
	background-color: var(--white);
	border: 1px solid var(--font-brown);
	border-radius: 7px;
	color: var(--font-brown);
	box-sizing: border-box;
	cursor: pointer;
}

.choice-button label:hover {
	background-color: var(--batton-brown);
	color: var(--white);
	border: 1px solid var(--batton-brown);
}

.choice-button {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.namber {
	font-weight: 300;
	font-size: 35px;
	margin: 0;
}

.namber-article {
	margin: 0;
}

.room-title {
	font-weight: 300;
	flex-basis: 170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.room-article,
.price-meter {
	color: var(--font-brown);
	margin: 0;
}

.price {
	font-weight: 400;
	font-size: 24px;
	margin: 0;
}

.room-article {
	padding: 35px 0;
}

@media (max-width: 767px) {
	.room {
		flex-wrap: wrap;
	}
	.header {
	height: 150px;
	}
	.logo img {
	width: 100px;
	height: 48px;
	}
	.logo {
	width: 100px;
	height: 48px;
	}
	.header-nav-item a {
	font-size: 16px;
	padding: 0 10px;
	}
	.telephone {
	font-size: 16px;
	}
}

/* Footer */

.footer {
	width: 100%;
	background: linear-gradient(rgba(0,78,89,0.7), #004e59);

}

.container {
	max-width: 1170px;
	padding: 40px 15px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.title-footer,
.address,
.contacts a {
	color: var(--white);
}

.contacts {
	display: flex;
	flex-direction: column;
}