/* Base */

:root {
	--white: #FFFFFF;
	--font-white: #FFFFFF;
	--font-black: #000000;
	--font-brown: #ae8f72;
	--background: #e8f6f7;
	--button: #004e59;
	--logo: #7aa9ab;
}

/* Global */

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Quicksand', sans-serif;
}

/* Header */

.header {
	width: 100%;
	height: 350px;
	background: url(../img/7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-container {
	width: 100%;
	position: fixed;
	background: linear-gradient(to bottom, #004e59, rgba(0,78,89,0.8));
}

.nav-wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	height: 96px;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 200px;
	height: 96px;
}

.header-nav {
}

.header-nav-item {
	display: flex;
	justify-content: space-around;
	text-align: center;
	list-style: none;
	margin: 0;
}

.header-nav-item a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 93px;
	color: var(--white);
	padding: 0 10px;
}

.header-nav-item a:hover {
	color: var(--logo);
}

.telephone {
	color: var(--white);
	font-size: 24px;
	line-height: 93px;
	text-decoration: none;
}

.telephone:hover {
	color: var(--logo);
}

/* Main */

.room-wrapper {
	width: 100%;
	background-color: var(--background);
}

.room {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background);
}

.namber {
	font-weight: 300;
	font-size: 35px;
}

.room-title {
	font-weight: 300;
}

.room-article,
.price-meter {
	color: var(--font-brown);
}

.price {
	font-weight: 400;
	font-size: 24px;
}

.room-article {
	padding: 30px 0;
}

.two-room,
.four-room {
	background-color: var(--white);
}

/* Footer */

.footer {
	width: 100%;
	background-color: var(--background);

}

.container {
	max-width: 1170px;
	padding: 40px 15px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* Modal */

.modal-map {
	display: none;
}

.modal-form {
	display: none;
}